div.board { 
	height: 80%;
	width: 50%;
	display: inline-block;
}

div.card {
	height: 200px;
	width: 150px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: rgb(255,223,0);
	border-radius: 10px;
}

h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}
span.name {
	color: #ff0000;
}

#board {
	width: 50%;
	height: 50%;
	display: inline-block;
	float: left;
	margin: 8%;
}

nav {
	background-color: #808080;
}

a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	background-color: #808080;
}

